.select2-container--open .select2-dropdown--below {
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}
.select2-container--bootstrap4 .select2-selection {
    border: 1px solid #080808; /* Change this to your desired border color */
    border-radius: .25rem;
    height: 40px; 
    text-align: center;/* Optional: to match Bootstrap's input styling */
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 2.5; /* Adjust this to vertically center the text */
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    height: 100%; /* Make the arrow fill the height */
    right: 10px; /* Adjust the position of the arrow */
}
.sidebar-light-light .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #1e1d1d23;
}


.gradiens-big-counter-ungu {
    background: linear-gradient(to bottom,rgb(171, 91, 217), #6C48C5); /* Merah muda ke merah utama */
    color: #fff;
}

.big-counter-ungu {
    background-color: #6C48C5; /* Ganti dengan warna kuning yang diinginkan */
    color: #fff; /* Atur warna teks */
    
}
.sbig-counter-hijau-lumut {
    background: linear-gradient(to bottom,rgb(84, 153, 61), #399918); /* Merah muda ke merah utama */
    color: #fff;
}
.big-counter-hijau-lumut {
    background-color: #399918; /* Ganti dengan warna kuning yang diinginkan */
    color: #fff; /* Atur warna teks */
    
}
